@font-face {
    font-family: 'FontSiteSansCondensed';
    src: url('/fonts/FontSiteSans-Cond-webfont.eot');
    src: url('/fonts/FontSiteSans-Cond-webfont.eot?iefix') format('eot'),
         url('/fonts/FontSiteSans-Cond-webfont.woff') format('woff'),
         url('/fonts/FontSiteSans-Cond-webfont.ttf') format('truetype'),
         url('/fonts/FontSiteSans-Cond-webfont.svg#webfontEGuZ0Ad6') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	background:#5a5959 url(../images/menuBg.gif) top left repeat-y;
	-webkit-text-size-adjust:none !important;
}
	.header .ui-btn {
		margin-top: 2px;
	}
	.ui-header .ui-title {
		display: block;
		width: 156px;
		height: 33px;
		margin: 8px auto 5px;
		background: url(/images/hostingcon.png) top left no-repeat;
		text-indent: -5000em;
	}
		.ui-header .ui-title a {
			display: block;
			width: 100%;
			height: 100%;
		}
		.ui-header a.menuBtn,
		.ui-header a.menuBtn span {
			display: block;
			width: 35px;
			height: 34px;
			margin: 3px 0 0 2px;
			padding: 0;
			text-align: left;
			text-indent: -5000em;
			border: 0;
			
		/*	background: none;
			border: 0;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			border-radius: 0;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;*/
		}
		.ui-header a.menuBtn span {
			margin: 0;
			background: transparent url(/css/themes/images/icons-36-white.png) -1367px 0 no-repeat;
		}
		.ui-header a.menuBtn span.ui-btn-text {
			display: block;
			width: 35px;
			height: 34px;
			background: transparent url(/css/themes/images/icons-36-white.png) -1578px -1px no-repeat;
			border: 0;
			text-indent: -5000em;
		}
	h1, h2, h3, h4, h5 {
		margin: 0;
		padding: 0;
		font: normal 2.1em FontSiteSansCondensed, 'Arial Narrow', Helvetica, Arial, sans-serif;
	}
	p {
		margin: .75em 0;
	}
	.sponsor {
		padding: 3px 0;
		text-align: center;
		font-size: 12px;
		color: #333;
		text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #F9D7AD /*{a-body-shadow-color}*/;
		background: #EFB15F url(/images/sponsorbar.gif) 0 0 repeat-x;
	}
	/*
	.contentWrap{
		width:310px;
		margin: 0 auto;
		padding:15px 5px 0 5px;
	}*/
	#menu{
		width: 165px;
		height: 100%;
		display: block;
		float: left;
		margin-left: -175px;
		background: #222;
		}
		#menu ul{
			margin:0;padding:0;
			width:inherit;
			background: #222;
			}
			#menu ul li{
				list-style-type:none;
				margin:0px 0;
				/*border-bottom:solid #6d6d6d 1px;*/
				}
				#menu ul li a:link, #menu ul li a:visited{
					border-bottom:solid #333 1px;
					color:#fff;
					font-size:14px;
					font-family:arial;
					text-decoration:none;
					width:165px;
					display:block;
					padding:10px 0px 10px 10px; 
					text-shadow: 0px 1px 1px #000000;
				}
				#menu ul li a:hover, #menu ul li a:active{
					background-color:#716f6f;
				}
				#menu ul li a:hover span.icon{
					background-position:0 -40px !important;
				}	
				#menu li a span.icon{
					float:right;
					width:21px;
					height:20px;
					background: transparent url(../images/menuIconsSprite.png) 0 0 no-repeat;
					position:relative;
					right:20px;
					top:-2px;
				}
				.ui-body-c{
					background:#fff !important;
				}
				.active{
					background-color:#383737;
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,29,29,1)), color-stop(21%,rgba(56,55,55,1)));
					}
					li.active a span.icon{
						background-position:0 -20px !important;
					}
					#memberDetails{
						font-size:14px;
						font-family:arial;
						padding:0 15px 5px 10px;
						color:#fff;
						text-shadow: 0px 1px 1px #000000;
						width:110px;
						}
						#memberDetails h3 {
							margin: 1em 0;
							font-family:arial;
							font-weight:normal;
							font-size:14px;
						}
						#memberDetails span{
							color:#fff;
						}

						a.menuBtn{
							background: transparent url(../images/menuBtn.png) top left no-repeat !important;
							width:31px;
							height:31px;
							background-size: 30px 30px;
							/*text-indent:-999em !important;*/
							display:block !important;
							-webkit-box-shadow: 0 0px 0 rgba(150,150,150,.3) !important;
							box-shadow: 0 0px 0 rgba(150,150,150,.3) !important;

						}
						a.menuBtn .ui-btn-inner{
							border:none;
						}
						a.menuBtn:hover{
							border:none !important;
						}
	.ui-content .ui-listview {
		margin: 0;
	}

	/* Exhibitor List
	-----------------------------------------------------------------------------------------------------------*/
	.alpha-list .ui-content {
		padding: 0;
		}
		.alpha-list ul {
			margin: 30px 0 0;
			}
			.alpha-list ul li ul li {
				clear: left;
				overflow: hidden;
				padding: 0 !important;
				white-space: normal;
				cursor: pointer;
				border-bottom: 0;
				}
				.exhibitor-list ul li h3 {
					float: left;
					width: 70%;
					margin: 0;
					padding: 0;
					font-size: 22px;
					font-weight: bold;
					white-space: normal;
				}
				.exhibitor-list ul li .booth {
					float: right;
					width: 10%;
					padding-right: 10px;
					text-align: right;
					font-size: 13px;
					font-weight: normal;
					margin: 0 .5em 0;
					color: #62696F;

					position: absolute;
					top: 50%;
					right: 24px;
					margin-top: -8px;

				}
				.platinum	{ clear: left; display: block; color: #6c6765; font-size: 13px; font-weight: bold; }
				.gold		{ clear: left; display: block; color: #E8C400; font-size: 13px; font-weight: bold; }
				.silver		{ clear: left; display: block; color: #928E8C; font-size: 13px; font-weight: bold; }
				.media		{ clear: left; display: block; color: #3371AA; font-size: 13px; font-weight: bold; }

	/* Exhibitor Details
	-----------------------------------------------------------------------------------------------------------*/
	.exhibitor .ui-content {
		margin: 20px 10px;
	}
	.exhibitor .ui-body-b,
	.exhibitor .ui-dialog.ui-overlay-b {
		background: #fff;
	}
	.exhibitor h2 {
		margin-bottom: .2em;
		font-size: 24px;
		font-weight: bold;
	}
	.exhibitor .booth {
		margin: 0 0 1em;
		font-size: 0.85em;
	}
	.exhibitor .headline img {
		float: left;
	}
	.exhibitor .description {
		clear: left;
		padding: 10px 0;
		font-size: 13px;
		white-space: normal;
	}
	.exhibitor p.ui-li-desc {
		white-space: normal;
	}

	/* Speaker List
	-----------------------------------------------------------------------------------------------------------*/
	.speaker-list .ui-content {
		padding: 0;
		}
		.speaker-list ul li ul li {
			padding: 0 !important;
			border-bottom: 0;
		}
		.speaker-list .ui-li .ui-btn-inner a.ui-link-inherit,
		.speaker-list .ui-li-static.ui-li {
			overflow: hidden;
			border: 0;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			border-radius: 0;
			}
			.speaker-list .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit,
			.speaker-list .ui-li-static.ui-li-has-thumb {
				padding-left: 15px;
			}
			.speaker-list .ui-li-has-thumb {
				text-indent: 0;
			}
			.speaker-list ul li h3 {
				margin: 0;
				padding: 0;
				font-size: 22px;
				font-weight: bold;
				white-space: normal;
			}
			.bioPhoto {
				position: relative;
				float: left;
				margin: 0 15px 0 0;
				border: 3px solid #C9C9C9 !important;
			}
			.speaker-list ul li span.positch {
				display: block;
				font-size: 13px;
				font-weight: normal;
				white-space: normal;
			}

	/* Speaker Details
	-----------------------------------------------------------------------------------------------------------*/
	.speaker .bioPhoto {
		margin: 0 15px 0 0;
	}
	.speaker h2 {
		margin-bottom: .2em;
		font-size: 24px;
		font-weight: bold;
	}
	.speaker .bio {
		clear: left;
		padding: 10px 0;
		font-size: 13px;
		white-space: normal;
	}

	/* Schedule
	-----------------------------------------------------------------------------------------------------------*/
	.schedule .ui-content {
		padding: 15px 0;
		}
		ul#tab-nav {
			list-style: none;
			overflow: hidden;
			padding: 0;
		}
			ul#tab-nav li {
				float: left;
			}
			ul#tab-nav li .active {
				border: 1px solid    		#ccc    /*{a-bup-border}*/;
				background:    			#eee    /*{a-bup-background-color}*/;
				font-weight: bold;
				color:    					#2F3E46    /*{a-bup-color}*/;
				text-shadow:    0    /*{a-bup-shadow-x}*/    1px    /*{a-bup-shadow-y}*/    1px    /*{a-bup-shadow-radius}*/    #f6f6f6    /*{a-bup-shadow-color}*/;
				background-image: -webkit-gradient(linear, left top, left bottom, from(    #fdfdfd    /*{a-bup-background-start}*/), to(    #eee    /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
				background-image: -webkit-linear-gradient(    #fdfdfd    /*{a-bup-background-start}*/,    #eee    /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
				background-image:    -moz-linear-gradient(    #fdfdfd    /*{a-bup-background-start}*/,    #eee    /*{a-bup-background-end}*/); /* FF3.6 */
				background-image:     -ms-linear-gradient(    #fdfdfd    /*{a-bup-background-start}*/,    #eee    /*{a-bup-background-end}*/); /* IE10 */
				background-image:      -o-linear-gradient(    #fdfdfd    /*{a-bup-background-start}*/,    #eee    /*{a-bup-background-end}*/); /* Opera 11.10+ */
				background-image:         linear-gradient(    #fdfdfd    /*{a-bup-background-start}*/,    #eee    /*{a-bup-background-end}*/);
		}
		#tab-content .tab {
			display: none;
		}
		#tab-content .active {
			display: block;
		}
		#track-menu {
			display: none;
			position: absolute;
			right: 0;
			z-index: 9999;
			float: right;
			margin: 0;
			padding: 0;

			}
			#track-menu li {
				display: block;
				text-align: right;
				border: 0;
			}
			#track-menu li#Sales_and_Marketing { background: #E6C142; }
			#track-menu li#Industry_Trends { background: #847BE3; }
			#track-menu li#Technology { background: #5DC289; }
			#track-menu li#Management { background: #E67C42; }
		#track {
			width: auto;
			color: #fff;
		}
		#tab-content .tab ul li {
			overflow: hidden;
			padding: .7em 15px .7em 15px;
			border-bottom: 0;
		}

		#tab-content .tab ul li.ui-btn {
			margin: 0;
		}
		#tab-content .tab ul li .ui-icon {
				margin-top: -28px;
			}
			#tab-content .tab ul li.Sales_and_Marketing .ui-icon { background-color: #E6C142; }
			#tab-content .tab ul li.Industry_Trends .ui-icon { background-color: #847BE3; }
			#tab-content .tab ul li.Technology .ui-icon	{ background-color: #5DC289; }
			#tab-content .tab ul li.Management .ui-icon	{ background-color: #E67C42; }
		#tab-content .tab ul .ui-btn-inner {
			border: 0;
		}
		.schedule .time {
			float: left;
			width: 15%;
			padding: 5px 0;
			white-space: normal;
			text-align: left;
			font-size: 14px;
			font-weight: 100;
			color: #000;
		/*	background: #454545; */
		}
		.schedule .sesh {
			float: left;
			width: 85%;
			padding: 0 0 10px;
			white-space: normal;
		}
		.schedule .All .sesh {
			width: auto;
			padding: 0 0 0 10px;
			}
			.schedule .sesh a, .schedule .sesh .ui-link:visited {
				display: block;
				padding: 0 30px 0 10px;
				color: #2F3E46;
				text-decoration: none;
			}
			.schedule h3.ui-li-heading {
				margin: 0 0 .1em;
				font-size: 19px;
				white-space: normal;
			}
			.schedule .location {
				font-size: 13px;
				font-weight: normal;
			}
		#tab-content .tab ul li .ui-btn {
			clear: left;
			padding: 0;
		}
		

		.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
		.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
		.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
		.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
		.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
		.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
		.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
		.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
		.ui-tabs .ui-tabs-hide { display: none !important; }
/*
	#schedule-grid.All,
#schedule-grid.Networking {
	padding: 3px 0 0 10px;
	text-align: center;
	vertical-align: middle;
	background: #EFEFEA url(/account/themed/2012/img/texture.gif) 0 0 repeat;
	font: italic normal 1.2em/1em CartoGothicStdBook, Myriad, Tahoma, Arial, sans-serif;
	color: #454545;
}

#schedule-grid.altrow div.All, #schedule-grid.altrow div.Networking {
}

#schedule-grid li.session-20100721 table div.All, #schedule-grid li.session-20100721 table div.Networking {
}

#schedule-grid li.session-20100721 table tr.altrow div.All, #schedule-grid li.session-20100721 table tr.altrow div.Networking {
}

#schedule-grid.Keynote {
	background: #FAF9E7;
	border: 1px solid #EED8AA;
	box-shadow: inset 0px 0px 16px #F2E4C1;
	-moz-box-shadow: inset 0px 0px 16px #F2E4C1;
	-webkit-box-shadow: inset 0px 0px 16px #F2E4C1;
}

#schedule-grid.Keynote span {
	font-weight: bold;
	display: block;
}

#schedule-grid.General_Session {
	background: #F5F7FC;
	border: 1px solid #CFD7F1;
	box-shadow: inset 0px 0px 16px #DEE3F6;
	-moz-box-shadow: inset 0px 0px 16px #DEE3F6;
	-webkit-box-shadow: inset 0px 0px 16px #DEE3F6;
}

#schedule-grid.time,
#schedule-grid table .time {
	width: 6%;
	padding: 5px 0 5px 5px;
	text-align: left;
	font: normal 0.9em/1.2em NewsCycleRegular, Arial, sans-serif;
	color: #fff;
	background: #454545;
}
#schedule-grid.altrow div.time		{ background: #787878; }


.Sales_Marketing						{ color: #CDA20B; background: #CDA20B; }
.Industry_Trends						{ color: #584DC7; background: #584DC7; }
.Technology							{ color: #599271; background: #599271; }
.Management							{ color: #CD4F0B; background: #CD4F0B; }

tr.altrow div.Sales_and_Marketing		{ background: #E6CB6E; }
tr.altrow div.Industry_Trends			{ background: #9D96E3; }
tr.altrow div.Technology					{ background: #A0E1BC; }
tr.altrow div.Management					{ background: #E6986E; }


div.Sales_and_Marketing					{ background: #E6C142; }
div.Industry_Trends						{ background: #847BE3; }
div.Technology							{ background: #5DC289; }
div.Management							{ background: #E67C42; }

*/

	/* Twitter Feed
	-----------------------------------------------------------------------------------------------------------*/
	.twitter .ui-content {
		padding: 0;
		}
		.twitter .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit,
		.twitter .ui-li-static.ui-li-has-thumb {
			padding-left: 80px;
		}
		#twitter-feed li {
			border-bottom-width: 0;
			}
			#twitter-feed img {
				margin: 10px 0 0 10px;
			}
			#twitter-feed p {
				margin: 0 0 8px;
				font-size: 14px;
				white-space: normal;
			}
			#twitter-feed strong,
			#twitter-feed span {
				font-size: 12px;
			}
			#twitter-feed span {
				font-size: 11px;
				font-weight: normal;
				color: #999;
				padding-left: 10px;
			}

	/* Maps
	-----------------------------------------------------------------------------------------------------------*/
	.map-type .ui-btn-inner {
		padding: .2em 11px .25em;
	}
	
	/* Navigation Slider
	-----------------------------------------------------------------------------------------------------------*/
	.slider { min-height: 250px; display: block; position: relative; background: #fff; overflow: hidden; padding-left: 25px; }
	.slider ul { list-style: none; }
	.slider-content { float: left; width: 100%; display: block; overflow: auto; min-height: 250px; }
	.slider-content ul { float: left; width: 100%; display: block; position: relative; margin: 0; padding: 0; }
	.slider-content ul li { float: left; width: 100%; }
	.slider-content a.title { display: none !important; }
/*	.slider-content ul ul li a { padding: 5px 10px; display: block; border-bottom: 1px solid #f3f3f3; text-transform: capitalize; }
	.slider-content ul ul li a:hover { background: #f3faff; border-color: #d5ebf9; }
	.slider-content a.title,
	.slider-content .ui-link-inherit,
	.title.ui-link-inherit { display: none !important; padding: 5px 0; text-indent: 10px; background: #bbb; color: #fff; width: 100%; float: left; font-weight: bold; text-transform: uppercase; }
*/	.slider-content .selected .title { background: #666; }
	.slider .slider-nav { position: absolute; left: 0; top: 0; background: #666; min-height: 250px; }
	.slider .slider-nav ul { margin: 0; padding: 5px 0; }
	.slider .slider-nav li a { padding: 3px 5px; line-height: 13px; text-align: center; color: #fff; font-weight: bold; display: block; text-transform: uppercase; cursor: pointer; }
	.slider #debug { position: absolute; bottom: 0; left: 0; padding: 5px; background: #000; color: #fff; }
	.slider .arrow { font-size: 0px; line-height: 0%; width: 0px; border-bottom: 8px solid #fff; border-left: 5px solid #333; border-right: 5px solid #333; position: relative; top: 5px; vertical-align: top; }
	.slider .down { border-bottom: none; border-top: 8px solid #fff; top: 15px; }
	.slider .slide-up, .slider .slide-down { height: 20px; background: #333; text-align: center; cursor: pointer; float: right; width: 100%; position: relative; padding: 0 14px; }